.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;

    display: flex;
    flex-direction: column;
    z-index: 200;
    
    background-color: #ffffff;

    transform: translateY(100%);
    transition: transform var(--primary-transition);
}

.menu-container.is-open {
    transform: translateY(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 10px;
    right: 15px;
    color: var(--secondary-text-color);
    z-index: 300;

    transition: color var(--primary-transition);
}

.mobile-menu__item:not(:last-child){
    margin-bottom: 32px;
}

.mobile-menu__link{
    color: var(--secondary-text-color);
    cursor: pointer;
    @include fonts(500, 40px, 1.18, 0.02em);

    transition: color var(--primary-transition);
}

.mobile-menu__link:hover,
.mobile-menu__link:focus{
    color: var(--accent-color);
}

.mobile-menu__contatcts {
    margin-top: auto;
    margin-bottom: 64px;
}

.mobile-menu__tel{
    color: inherit;
    cursor: pointer;
    @include fonts(500, 34px, 1.18, 0.02em);     
}

.mobile-menu__mail{
    color: inherit;
    cursor: pointer;
    @include fonts(500, 24px, 1.17, 0.02em);   
}

.mobile-menu__socials{
    display: flex;
    justify-content: flex-start;
}

.mobile-menu__socials-item:not(:last-child){
    margin-right: 20px;
}

.mobile-menu__socials-item:not(:first-child) {
    position: relative;
}

.mobile-menu__socials-link{
    color: var(--accent-color);
    cursor: pointer;
    @include fonts(500, 18px, 1.22, 0.02em);      
}
