body {
    font-family: var(--main-font);
    color: var(--main-text-color);
    background-color: #ffffff;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @include screenType(mobile){
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @include screenType(tablet) {
        padding-top: 60px;
        padding-bottom: 60px;
        }
    @include screenType(desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
          }
}

.section-title {

    color: var(--secondary-text-color);
    text-align: center;
    
    @include fonts(700, 28px, 1.16, 0.03em);
    @include screenType(desktop) {
        @include fonts(700, 36px, 1.16, 0.03em);
        padding-bottom: 50px;
    }
}
